@import "./main.scss";

.logoBlock,
.btnBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 55px;
}

.toggleButton {
  position: absolute;
  top: 35px;
  right: -15px;
  height: 35px;
  width: 35px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-blue;
}

.links {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  & > * {
    margin-top: 30px;
  }
}

.link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 30px;

  & > * {
    margin-right: 10px;
  }
  &:hover {
    color: $color-blue;
  }
}

.btnBlock {
  margin-top: 100px;
}

.button {
  @include button-md;
}
